<section>
  <h2>Your Cart ({{totalItems}})</h2>

  <ul>
    @for (item of itemMap | keyvalue; track $index) {
      <li class="selected-item">
        <div>
          <h3>{{item.key.name}}</h3>

          <div class="item-info">
            <span>{{item.value}}x</span>
            <span>${{item.key.price}}</span>
            <span>${{item.key.price * item.value}}</span>
          </div>
        </div>

        <button (click)="deleteItem(item.key)">
          <img src="images/icon-remove-item.svg" alt="Delete selected items">
        </button>
      </li>
    }
  </ul>

  <div>
    <p>Order Total</p>
    <p>${{totalPrice}}</p>
  </div>
</section>
