@import "variables";

.selected-state {
  border: 2px solid $red;
}

.top-container {
  position: relative;
}

.category {
  color: $rose-400;
}

.price {
  color: $red;
}

.item-pic {
  border-radius: 15px;
}

.item-title {
  color: $rose-900;
}

.base-btn-layout {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: .5em 1.5em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 150px;
  text-wrap: nowrap;
}

.add-to-cart {
  justify-content: center;
  gap: 1rem;
  background-color: white;
  border: 1px solid $rose-500;
}

.btn-selected {
  background-color: $red;
  color: white;
  justify-content: space-between;
}

.edit-quantity-btn {
  border: 1px solid white;
  border-radius: 50%;
  padding: .3em;

  > img {
    height: .5rem;
    width: .5rem;
  }
}

.card-body {
  margin-top: 2rem;
}
