main {
  padding: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;

  .shopping-cart {
    flex: 1 0 Min(250px, 100%);
  }

  .desserts {
    flex: 4 0 Min(500px, 100%);
  }

  .item-list {
    gap: 2rem;
  }
}

